@import "reset.css";

img {
    width: 250px;
}

@font-face {
    font-family: "zalandoh23";
    src: url(/AuditCom-template/fonts/Zalando_Sans/ZalandoSans_SemiExpanded-Regular.ttf);
}

@font-face {
    font-family: "zalandoh1";
    src: url(/AuditCom-template/fonts/Zalando_Sans/ZalandoSans_SemiExpanded-Bold.ttf)
}

html {
    font-size: 32px;
    font-family: "zalandoh23";
}

header {
    background-color: #218b29;
    padding: 1rem 2rem 1rem 2rem;
    text-align: right;
}

header a {
    color: white;
    text-decoration: none;
}

section#titre {
    background-color: #218b29;
    color: white;
    padding: 0 2rem 1rem 2rem;
}

h1 {
    font-size: 128px;
    font-family: "zalandoh1";
    line-height: 128px;
}

h2 {
    font-size: 64px;
    color: #218b29;
}

section#équipes>div {
    display: flex;
    gap: 1rem;
}

section#équipes {
    padding: 1rem 2rem 1rem 2rem;
}

.logo-animation article {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: auto;
}

.logo-animation article img {
    margin: 1rem 0 1rem 0;
    filter: saturate(0);
    width: 150px;
}

.logo-animation article img:hover {
    transform: scale(1.2);
    filter: saturate(1);
}

.logo-animation {
    display: flex;
    gap: 4rem;
}

/***** animation logo slide show ****/
.slider {
    overflow: hidden;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    height: 300px;
    align-content: center;
}

.slider-track {
    animation: alternate scroll 45s linear infinite;
}

/* Animation */
@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

#infos {
    padding: 2rem 2rem 2rem 2rem;
    display: grid;
    grid-template-areas:
        "titre titre titre"
        "texte camembert camembert"
        "graph texte2 texte2"
        "texte3 texte3 chaine"
        "titre2 titre2 titre2"
        "martigny lancy ouchy";
    align-items: end;
    gap: 1rem;
}

.image-hover {
    transition: transform 0.4s ease-in-out;
    will-change: transform;
}

#infos img:hover {
    transform: scale(1.25);
    z-index: 1;
}

#infos h2:nth-child(1) {
    grid-area: titre;
    margin-bottom: 2rem;
    text-align: right;
}

#infos h3:nth-child(2) {
    grid-area: texte;
    align-self: center;
    color: #218b29;
}

#camembert {
    width: 500px;
    grid-area: camembert;
    justify-self: center;
    margin: 2rem 0 2rem 0;
    align-self: center;
}

#graph {
    grid-area: graph;
    width: 80%;
    justify-self: center;
    align-self: center;
}

#infos h3:nth-child(5) {
    grid-area: texte2;
    color: #218b29;
    margin: 2rem 0 2rem 0;
    text-align: right;
    align-self: center;
}

#infos h3:nth-child(7) {
    grid-area: texte3;
    color: #218b29;
    margin: 2rem 0 2rem 0;
    align-self: center;
}

#chaine {
    grid-area: chaine;
    margin: 2rem 0 2rem 0;
    justify-self: center;
    width: 100%;
    transform: rotate(45deg);
    align-self: center;
}

#infos h2:nth-child(8) {
    grid-area: titre2;
    margin: 2rem 0 2rem 0;
    text-align: center;
}

#martigny {
    grid-area: martigny;
    background-color: #218b2a7b;
    width: 90%;
    height: 70%;
    justify-self: right;
    box-shadow: 0px 15px 10px #00000025;
}

#lancy {
    grid-area: lancy;
    background-color: #218b2a7b;
    height: 85%;
    width: 100%;
    justify-self: center;
    box-shadow: 0px 15px 10px #00000025;
}

#ouchy {
    grid-area: ouchy;
    background-color: #218b2a7b;
    width: 80%;
    height: 60%;
    box-shadow: 0px 15px 10px #00000025;
}

#formulaire {
    background-color: #00000025;
    margin-top: 2rem;
    padding: 2rem;
}

#downloadForm {
    background-color: white;
    font-weight: bold;
    display: grid;
    grid-template-areas:
        "titre titre"
        "nom prénom"
        "email email"
        "newsletter newsletter"
        "bouton bouton";
    gap: 2rem;
    padding: 2rem;
}

#downloadForm h2 {
    text-align: center;
    grid-area: titre;
    margin-bottom: 2rem;
}

input {
    justify-self: right;
}

input.email {
    width: 85%;
}

input.consent {
    justify-self: center;
    width: 20%;
}

.nom {
    grid-area: nom;
}

.prénom {
    grid-area: prénom;
}

.email {
    grid-area: email;
}

.consent {
    grid-area: newsletter;
}

button {
    grid-area: bouton;
}

p {
    color: white;
}

footer {
    background-color: #218b29;
    padding: 1rem 2rem 1rem 2rem;
    line-height: 2rem;
}

h3 {
    color: white;
}