@import "reset.css";

img {
    width: 250px;
}

@font-face {
    font-family: "zalandoh23";
    src: url(/AuditCom-template/fonts/Zalando_Sans/ZalandoSans_SemiExpanded-Regular.ttf);
}

@font-face {
    font-family: "zalandoh1";
    src: url(/AuditCom-template/fonts/Zalando_Sans/ZalandoSans_SemiExpanded-Bold.ttf)
}

html {
    font-size: 32px;
    font-family: "zalandoh23";
}

header {
    background-color: #218b29;
    padding: 1rem 2rem 1rem 2rem;
    text-align: right;
}

header a {
    color: white;
    text-decoration: none;
}

section#titre {
    background-color: #218b29;
    color: white;
    padding: 0 2rem 1rem 2rem;
}

h1 {
    font-size: 128px;
    font-family: "zalandoh1";
    line-height: 128px;
}

h2 {
    font-size: 64px;
    color: #218b29;
}

section#équipes>div {
    display: flex;
    gap: 1rem;
}

section#équipes {
    padding: 1rem 2rem 1rem 2rem;
}

.logo-animation article {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: auto;
}

.logo-animation article img {
    margin-bottom: 1rem;
    filter: saturate(0);
}

.logo-animation article img:hover {
    transform: scale(1.3);
    filter: saturate(1);
}

.logo-animation {
    display: flex;
    gap: 4rem;
}

/***** animation logo slide show ****/
.slider {
    overflow: hidden;
    margin-top: 5rem;
    padding-bottom: 4rem;
    height: 300px;
}

.slider-track {
    animation: alternate scroll 45s linear infinite;
}

/* Animation */
@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

section#infos {
    padding: 1rem 2rem 1rem 2rem;
    display: grid;
    grid-template-areas: "a b b"
        "c d d"
        "e f g"
        "h i j";
    grid-template-columns: repeat(3, 1fr);
    vertical-align: middle;
    align-items: center;
}

section#infos h2:nth-child(1) {
    grid-area: b;
}

#camembert {
    width: 500px;
    grid-area: d;
}

.image-hover {
    transition: transform 0.4s ease-in-out;
    will-change: transform;
}

section#infos img:hover {
    transform: scale(1.25);
}

h3 {
    color: #218b29;
}

section#infos h3 {
    grid-area: 2 / 1;
    vertical-align: middle;
}

#center {
    grid-area: f;
}

#martigny {
    grid-area: h;
    background-color: #218b2aab;
}

#lancy {
    grid-area: i;
    background-color: #218b2aab;
}

#ouchy {
    grid-area: j;
    background-color: #218b2aab;
}